		h3 { margin-bottom: 0px !important; }
		ul { margin: 0 20px 10px 20px; border-bottom: 1px solid #dbccb6; padding-top: 0px; }
		li { border-bottom: 1px solid #f4e9da; padding: 3px 0 3px 10px; }
		li a { text-decoration: none; font-weight: normal; font-size: 1.1em; display: block; color:#006400;}

		ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
		}
		  
		#game_info {
		border-top: 6px solid #239492;
		color: #686868;
		font-family: Helvetica,Verdana,sans-serif;
		font-size: 12px;
		font-size-adjust: none; 
		font-stretch: normal;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		}		
  
		#game_info ul { margin: 10px 0; font-size: .9em; }
		#game_info #key_meta { display: inline-block; width: 420px; margin-right: 20px; padding-top: 25px; vertical-align:top;}
		#game_info #key_meta .thumb { width:100px; vertical-align:top; display: inline-block; margin-right: 5px; margin-top: 0; padding: 3px; border: 3px solid #5a3718; }
		#game_info #key_meta .thumb,
		#game_info #key_meta .thumb img { width: 100px; height: 100px; }
		#game_info #key_meta h2 { font-size: 1.5em; margin: 0; }
		#game_info #key_meta h3 { font-size: .9em; font-weight: normal; color: #777; margin: 0 0 6px; }
		#game_info #key_meta #actions li { float: left; position: relative; padding: 0 5px;}
		#game_info #key_meta #actions li a { font-size: .9em; text-decoration: none;}
		#game_info #key_meta #actions li a:hover {background-color: #95f3ee; color: black; !important; }
		#game_info #key_meta #actions #download_link { background-color: #239492; color: white; padding: 7px;}
		#game_info h4 { color:#239492; font-size:1.1666em; margin:5px 0 0 0;  }
		#game_info ul, ol { list-style-image:none; list-style-position:outside; list-style-type:none; margin:0 0 1.5em; padding:0;}

		#game_info #key_meta #game_embed { margin: 1em 0 0;}
		#game_info #key_meta #game_embed #embed_code { width: 420px; height: 60px; background: #fff; }

		#game_info #secondary_meta {display: inline-block; width: 480px; padding-left: 20px; padding-top: 20px;}
		#game_info #secondary_meta.no_lb { width: 400px; margin-right: 0px; }
		#game_info #secondary_meta .description { margin-bottom: 1em; font-size: 1em; }
		#game_info #secondary_meta #controls ul { margin-top: 0; }
 
		button{line-height:12px;max-height:26px;}
		#game_info #widget { float: right; margin: 4em 0 1.5em; width: 100%;}
		#game_info #widget #widget_embed_link { margin-left: 10px; background-color: #239492; color: white;text-decoration: none; font-size: .9em; float: right; padding: 7px;line-height: 12px;}
		#game_info #widget #showboard { cursor: pointer;border: none; background-color: #239492; color: white; text-decoration: none; float: right; padding: 7px; margin-left: 10px;line-height: 12px;display:block; font-size: .9em; vertical-align:center;}
		#widget h2 {float: left; margin-top: 7px;}
		#game_info #widget .widget_embed_code { width: 365px; height: 60px; background: #fff; margin-bottom: 1em; float: none; }
		#game_info #widget embed { border: 3px solid #ddd; padding: 1px; margin-top: .3em; }		

		a.author-link:link { text-decoration:none; color:#006400; font-weight: bold; font-size: 1.1em;}
		a.author-link:hover { text-decoration:none; font-weight:bolder; color:#6b8e23; }
		a.author-link:visited { text-decoration:none; }		
		
		a.game-link:link { text-decoration:none; color:#006400; font-weight: bold; font-size: 1.1em;}
		a.game-link:hover { text-decoration:none; font-weight:bolder; color:#6b8e23; }
		a.game-link:visited { text-decoration:none; }		