		body {
		font-size: 12px;
		line-height: 1.5em;
		font-family: Verdana, Helvetica, sans-serif;
		color: #0073EA;
		}	
		
		/* Non-essential Styles */
		h2    { margin:0; font-size:1.1em; text-align:left; }
		h3    { margin:0; font-size:1em; }

		h1, h2, h3, h4, h5, h6 {
		margin: 0;
		color: #FF0084;
		font-family: verdana, sans-serif;
		letter-spacing: -1px;
		}		
		
		h4 {
		font-size: 1.0em;
		}		
		
		h3 {
		font-size: 1.1em;
		}		
		
		*.float-divider { clear:both; display:block; height:1px; font-size:1px; line-height:1px; }
		*.oi1 { margin:0; padding:5px; }
		*.oi2 { margin:5px; padding:5px; }
		*.oi3 { margin:5px; padding:5px; }
		
		#main { 
			width:1200px; 
			overflow:hidden;
		}
		
		#nav { display:inline-block; width:220px;}
		#content { display:inline-block; width:950px; vertical-align:top; }
		#nav *.oi2 { min-height:43px; }
			
		.search-box {
			border-bottom: 1.5px solid #DBCCB6; 
			margin-bottom:2px;		
			padding-bottom:5px;
		}
		    
		a { 
			color: #0073EA;
		}
		
		a:visited {
		}
		
		.top-advert-container {
			overflow:hidden; 
			/*border:3px dashed black; */
			margin: 0px auto; 
			height:90px; 
			width: 728px;		
		}
		
		.side-advert-container {
			overflow:hidden;
			margin: 0px auto;
			height:600px;
			width:160px;
		}
 		
		
		h3 { margin-bottom: 0px !important; }
		ul { margin: 0 20px 10px 20px; border-bottom: 1px solid #dbccb6; padding-top: 0px; }
		li { border-bottom: 1px solid #f4e9da; padding: 3px 0 3px 10px; }
		li a { text-decoration: none; font-weight: normal; font-size: 1.1em; display: block;}

		button{line-height:12px;max-height:26px;}
		
		.cufon-canvas {
		display: inline!important;
		display: inline-block!important;
		position: relative!important;
		vertical-align: middle!important;
		font-size: 1px!important;
		line-height: 1px!important;
		}		
		  
		.addgame { float: left; vertical-align: bottom; }
